.Bottom {
    padding: 4em 0;
    height: auto;
    background-color: black;
    z-index: 500;
    .Wrap {
        max-width: 1080px;
        margin: 0 auto;
        
        @include mq() {
            margin: 0 10px;
        }
        .Recommendation {
            position: relative;
            margin-top: -263px;
            justify-content: center;
            color: #fff;
            z-index: 1000;
            display: flex;

            @include mq(sm) {
                margin-top: 0;
                flex-direction: column;
                align-items: center;
            }

            &__entry {
                margin: 0 50px;
                width: 229px;
                
                @include mq() {
                    width: 29.33%;
                    margin: 0 2%;
                }

                @include mq(sm) {
                    margin-bottom: 2.5em;
                    width: auto;
                }
            }

            &__title {
                text-align: center;
                margin: .2em 0 0;
                font-weight: 700;
                font-size: 24px;
                font-size: 2.4rem;
                color: #fff;
                justify-content: center;
            }

            &__icon {
                align-items: center;
                width: 230px;
                height: 230px;
                margin: 0 auto;
                border: solid 6px #000;
                border-radius: 50%;
                background: #fff;
                font-size: 100px;
                justify-content: center;
                display: flex;

                i {
                    font-family: "Font Awesome 5 free";
                    // display: inline-block;
                    color: #000;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1;
                }
            }

            &__text {
                margin: .5em 0 0;
                line-height: 1.7;
                font-weight: 700;
            }
        }
    }
}