@charset "UTF-8";
*,*:before,*:after{-webkit-box-sizing:border-box;box-sizing:border-box;}
* {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;    
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Noto Sans JP",MyYuGothicM,YuGothic,-apple-system,BlinkMacSystemFont,"Hiragino kaku Gothic ProN",Meiryo,Verdana,arial,helvetica,sans-serif;
    line-height: 1.7;
    font-size: 1.6rem;
    color: #121212;
}
@import "_mixin.scss";
@import "_Header.scss";
@import "_heamburger.scss";
@import "_Main.scss";
@import "_Bottom.scss";
@import "_variable.scss";